*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}


.container {
  max-width: 1880px;
  max-height: auto;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c9c9c9;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  height: auto;
}
.header__burger {
  display: none;
}
.header__menu {
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  display: inline-flex;
  list-style: none;
}
.header__link {
  color: #848484;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  line-height: 40px;
  margin: 0 0 0 50px;
}


@media (max-width: 789px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    background-color: #848484;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: 0.3s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #848484;
    position: absolute;
    transition: 0.3s;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before {
    top: 0;
    transition: 0.3s;
  }
  .header__burger:after {
    bottom: 0;
    transition: 0.3s;
  }
  .header__burger.active span {
    transform: scale(0);
    transition: 0.3s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: 0.3s;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: 0.3s;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    display: block;
    margin: 0px 0px 0px 0px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    transition: 0.3s;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 70px 0px 0px 0px;
  }
  .header__menu.active {
    top: 0;
    transition: 0.3s;
  }
}

.content {
  margin: 150px 0 0 0;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 789px) {
  .content {
    margin-top: 50px;
  }
}

.content{
  border: 1px solid black;
}
.slick-list {
  overflow: hidden;
  max-width: 100%;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
.slider {
  position: relative;
}
.slider .slick-arrow {
  overflow: visible;
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.slider .slick-arrow.slick-arrow.slick-prev {
  left: 0;
  background: url("../assets/svg/arrowhead-thin-outline-to-the-left.svg") 0 0 /
    100% no-repeat;
}
.slider .slick-arrow.slick-arrow.slick-next {
  right: 0;
  background: url("../assets/svg/arrow-point-to-right.svg") 0 0 / 100% no-repeat;
}
.slider__item {
  opacity: 0;
  text-align: center;
  transition: 0.5s;
}
.slider__item img {
  max-width: 100%;
}
.slider__item.slick-center {
  opacity: 1;
}
@media (max-width: 789px) {
  .content{
    display: none;
  }
}

.about{
  margin-top: 25%;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.workstation{
  margin-left: 15%;
  border: 1px solid black;
  max-width: 100%;
}
.workstation img{
  max-width: 100%;
  border-radius: 50%;
}
.about__text {
  margin-left: 10%;
  font-size: 1.1vw;
  border: 1px solid black;
  float: right;
  max-width: 30%;
}


.work__title {
  margin-top: 5%;
  font-size: 1vw;
  text-align: center;
}


.work__modelling {
  align-items: center;
  margin-top: 5%;
  border: 1px solid black;
  display: flex;
}
.modelling__text{
  margin-left: 15%;
  font-size: 1.5vw;
  max-width: 50%;
  border: 1px solid black;
}
.modelling__slider{
  z-index: 0;
  float: right;
  margin-left: 5%;
  max-width: 400px;
  min-width: 0;
  border: 1px solid black;
}
.work__modelling.slick-list{
  max-width: 100%;
  height: auto;
}
.work__modelling.slick-track{
  align-items: flex-start;
}
.modelling__slider__item img{
  max-width: 100%;
  border-radius: 50%;
}


.work__print {
  align-items: center;
  margin-top: 5%;
  border: 1px solid black;
  display: flex;
}
.print__text{
  float: right;
  margin-left: 5%;
  margin-right: 10%;
  font-size: 1.5vw;
  max-width: 100%;
  border: 1px solid black;
}
.print__slider{
  margin-left: 15%;
  z-index: 0;
  max-width: 400px;
  min-width: 0;
  border: 1px solid black;
}
.work__print.slick-list{
  max-width: 100%;
  height: auto;
}
.work__print.slick-track{
  align-items: flex-start;
}
.print__slider__item img{
  max-width: 100%;
  border-radius: 50%;
}


.work__prep {
  align-items: center;
  margin-top: 5%;
  border: 1px solid black;
  display: flex;
}
.prep__text{
  margin-left: 15%;
  font-size: 1.5vw;
  max-width: 50%;
  border: 1px solid black;
}
.prep__slider{
  z-index: 0;
  float: right;
  margin-left: 5%;
  max-width: 400px;
  min-width: 0;
  border: 1px solid black;
}
.work__prep.slick-list{
  max-width: 100%;
  height: auto;
}
.work__prep.slick-track{
  align-items: flex-start;
}
.prep__slider__item img{
  max-width: 100%;
  border-radius: 50%;
}


.work__end {
  align-items: center;
  margin-top: 5%;
  border: 1px solid black;
  display: flex;
}
.end__text{
  float: right;
  margin-left: 5%;
  margin-right: 10%;
  font-size: 1.5vw;
  max-width: 100%;
  border: 1px solid black;
}
.end__slider{
  margin-left: 15%;
  z-index: 0;
  max-width: 400px;
  min-width: 0;
  border: 1px solid black;
}
.work__end.slick-list{
  max-width: 100%;
  height: auto;
}
.work__end.slick-track{
  align-items: flex-start;
}
.end__slider__item img{
  max-width: 100%;
  border-radius: 50%;
}